*.o
*.i
*.s
*.lo
*.la
**/.deps/
**/.libs/

**/Makefile
**/Makefile.in

/aclocal.m4
/autom4te.cache
/autoscan.log
/autoscan-*.log
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/m4/libtool.m4
/m4/lt*.m4

**/tags
*.swp
*.swo

/test-suite.log
/test/*.log
/test/*.trs

/test/benchbitslice
/test/benchbitsliceks
/test/benchbitsliceks_mx
/test/benchdec
/test/benchenc
/test/benchks
/test/testbitslice
/test/testbsops
/test/testdec
/test/testenc
